body{
  background-image: url("image.jpg");
}

#title{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a{
  color: purple;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#vid{
    overflow:hidden;
    width: 30%;
    height: 39%;
}

#ard{
    width: 30%;
    height: 36.4%;
}

#buy{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
