
body{
  background-image: url("image.jpg");
  font-family: Arial, cursive;
}

#title, #second_title{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a{
  color: green;
}

#shopping_cart{
    color: white;
}

#dropdown{
  color: black;
  background-color: white;
}
