{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1 id="title">Welcome, {{user}}, to DeLorean's Electronics web page</h1>
<p id="second_title" style="color:white;">Here you can buy this products:</p>
<div>
    <form action="product/01/">
        <input type="submit" value="Arduinos" />
    </form>
</div>

<div>
    <a href="https://www.raspberrypi.org/products/">Raspberrys</a>
</div>

<div>
    <a href="https://store.arduino.cc/">Arduinos again</a>
</div>

<div>
    <a href="https://www.digikey.com/products/en">Electronic components</a>
<div>

</body>
</html>
