{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1 id="title">Welcome, {{user}}, to DeLorean's Electronics web page</h1>
<p id="second_title" style="color:white;">Here you can buy this products:</p>
<div>
    <form action="product/arduino_uno/">
        <input type="submit" value="arduino_uno" />
    </form>
</div>

<div>
    <form action="product/raspberry_pi/">
        <input type="submit" value="raspberry_pi" />
    </form>
</div>

<div>
    <form action="product/arduino_mega/">
        <input type="submit" value="arduino_mega" />
    </form>
</div>

<br>
  <form action="order.html">
      <input type="submit" value="Click here to make your order">
  </form>

<br>
<form type="get" action="search.html" style="margin: 0">
  <input  id="search_box" type="text" name="search_box"  placeholder="Search..." autocomplete="off">
  <button id="search_submit" type="submit" >Submit</button>
</form>

</body>
</html>
