{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/order_style.css' %}">
</head>
<form action="/your-order/" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}
    <div class="field">
      {{form.item.errors}}
      <label for="{{form.item.id_for_label}}">Your Item</label>
      {{form.item}}
    </div>

    <div class="field">
      {{form.quantity.errors}}
      <label for="{{form.quantity.id_for_label}}">Your Quantity</label>
      {{form.quantity}}
    </div>

    <div class="field">
      {{form.address.errors}}
      <label for="{{form.address.id_for_label}}">Your Address</label>
      {{form.address}}
    </div>

    <div class="field">
      {{form.username.errors}}
      <label for="{{form.username.id_for_label}}">Your Username</label>
      {{form.username}}
    </div>

    <input type="submit" value="Submit">
</form>
