body{

    background-color: lightblue;
    background-image: url('../media/image.jpg')
}

#title{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#vid{
    overflow:hidden;
    width: 30%;
    height: 39%;
}

#itmg{
    width: 30%;
    height: 36.4%;
}
